<html>
  <head>
    <title>TODO 목록 앱</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  </head>
  <body>
  <div class="container">
    <h1>TODO 목록 앱</h1>
    <p>
      <a href="{% url 'todo_post' %}"><i class="bi-plus"></i>Add Todo</a>
      <a href="{% url 'done_list' %}" class="btn btn-primary" style="float:right">완료한 TODO 목록</a>
    </p>
    <ul class="list-group">
      {% for todo in todos %}
      <li class="list-group-item">
        <a href="{% url 'todo_detail' pk=todo.pk %}">{{ todo.title }}</a>
        {% if todo.important %}
          <span class="badge badge-danger">!</span>
        {% endif %}
        <div style="float:right">
          <a href="{% url 'todo_done' pk=todo.pk %}" class="btn btn-danger">완료</a>
          <a href="{% url 'todo_edit' pk=todo.pk %}" class="btn btn-outline-primary">수정하기</a>
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
  </div>
</html>
